@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/Background/horse-2255876_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(197, 192, 192, 0.5);
    margin-bottom: 0;
}

h5 {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-weight: lighter;
}

canvas {
    display: block;
}

.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.deviceCheck {
    display: none;
}

.deviceCheck {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 50px;
    position: absolute;
    z-index: 999;
    background-color: rgb(191, 100, 38);
    text-align: center;
}

.startScreen,
.endScreen {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 490px;
    width: 780px;
    position: absolute;
    border-radius: 16px;
    background-size: cover;
    z-index: 1;
    background-position: 65% 35%;
}

.startScreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
}

.endScreen {
    background-image: url('img/9_intro_outro_screens/game_over/you lost.png');
    background-color: rgba(197, 192, 192, 0.5);
}

.startButton, .restartButton {
    height: 50px;
    width: 150px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 100, 38);
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.startButton:hover, .restartButton:hover {
    cursor: pointer;
}

.infoButton {
    display: flex;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.tonButton {
    background-size: 75%;
    background-image: url('img/icons/sound.svg');
}

.muteButton {
    background-image: url('img/icons/volume_muted.svg');
    background-size: 75%;
}

.settingsButton {
    background-image: url('img/icons/question-mark.svg');
    background-size: 50%;
}

.fullscreenButton {
    background-size: 65%;
    background-image: url('img/icons/fullscreen.svg');
}

.normalScreenButton {
    background-size: 65%;
    background-image: url('img/icons/reduce-screen.svg');
}



.fullscreenButton, .settingsButton, .tonButton, .muteButton, .normalScreenButton {
    height: 40px;
    width: 40px;
    background-color: rgb(191, 100, 38);
    border-radius: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.fullscreenButton:hover, .normalScreenButton:hover, .settingsButton:hover, .tonButton:hover, .muteButton:hover, .closeButton:hover {
    cursor: pointer;
}

.infoContain {
    height: 420px;
    width: 650px;
    position: fixed;
    z-index: 1;
}

.infoContain1 {
    height: 420px;
    width: 650px;
    background-color: rgba(197, 192, 192, 0.8);
    font-family: 'ZABARS';
}

.infoContain2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

.closeButton {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    justify-content: right;
    display: flex;
}

.fullScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/Background/horse-2255876_1920.jpg');
    overflow: hidden;
}

.mobileButtonContain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
}

.mobileButtonLeft {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 165px;

}

.mobileButtonRight {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 165px;
}

.mobileButton {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
    background-color: rgb(173, 122, 88);
}

.mobileButton1 {
    background-image: url('img/icons/top-icon.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

}

.mobileButton2 {
    background-image: url('img/6_salsa_bottle/salsa_bottle.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

.mobileButton3 {
    background-image: url('img/icons/left-icon.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.mobileButton4 {
    background-image: url('img/icons/right-icon.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(173, 122, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 997;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(173, 122, 88);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Smartphones*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        aspect-ratio: 2.5/1;
    }
}

@media only screen and (max-height: 560px) {
    .startScreen, .endScreen {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .startScreen, .endScreen {
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }

    .mobileButtonContain {
        display: flex;
    }

    .fullscreenButton, .settingsButton, .tonButton, .muteButton, .normalScreenButton {
        height: 30px;
        width: 30px;
    }

    .infoContain {
        height: 370px;
    }

    .infoContain1 {
        height: 320px;
    }

    h5 {
        font-size: 21px;
    }

    .infoContain2 {
        padding-top: 10px;
    }
}

@media (max-width: 720px) and (orientation: portrait) {
    .deviceCheck {
        display: flex;
    }
}